<div class="main-content-inner">

  <div class="breadcrumbs ace-save-state" id="breadcrumbs">
    <ul class="breadcrumb">
      <li>
        <i class="ace-icon fa fa-home home-icon"></i>
        <a ui-sref="index">Home</a>
      </li>
      <li class="active">Visualization</li>
    </ul>
    <!-- /.breadcrumb -->

    <!--<div class="nav-search" id="nav-search">
      <form class="form-search">
        <span class="input-icon">
                  <input type="text" placeholder="Search ..." class="nav-search-input" id="nav-search-input" autocomplete="off" />
                  <i class="ace-icon fa fa-search nav-search-icon"></i>
                </span>
      </form>
    </div>-->
  </div>


  <div class="page-content">
    <div class="row">
      <div class="col-xs-12">
        <div ui-view></div>
      </div>
    </div>
  </div>
</div>