<div class="main-content-inner">
  <div class="breadcrumbs ace-save-state" id="breadcrumbs">
    <ul class="breadcrumb">
      <li>
        <i class="ace-icon fa fa-home home-icon"></i>
        <a href="#">Home</a>
      </li>
      <li class="active">Overview</li>
    </ul>
    <!-- /.breadcrumb -->
  </div>
  <div class="page-content">
    <!--<div class="page-header">
            <h1>
              Overview
              <small>
                  <i class="ace-icon fa fa-angle-double-right"></i>
                  Record
              </small>
            </h1>
          </div>-->
    <!-- /.page-header -->

    <div class="row">
      <div class="col-xs-12">
        <!-- PAGE CONTENT BEGINS -->
        <div ui-view></div>
      </div>
    </div>
  </div>

</div>