<div class="sidebar-shortcuts" id="sidebar-shortcuts">
  <div class="sidebar-shortcuts-large" id="sidebar-shortcuts-large">
    <button class="btn btn-success">
              <i class="ace-icon fa fa-signal"></i>
            </button>

    <button class="btn btn-info">
              <i class="ace-icon fa fa-pencil"></i>
            </button>

    <button class="btn btn-warning">
              <i class="ace-icon fa fa-users"></i>
            </button>

    <button class="btn btn-danger">
              <i class="ace-icon fa fa-cogs"></i>
            </button>
  </div>

  <div class="sidebar-shortcuts-mini" id="sidebar-shortcuts-mini">
    <span class="btn btn-success"></span>

    <span class="btn btn-info"></span>

    <span class="btn btn-warning"></span>

    <span class="btn btn-danger"></span>
  </div>
</div>
<!-- end: sidebar-shortcuts -->

<ul class="nav nav-list">

  <li ng-class="{'active': actives.overview}">
    <a ui-sref="home.overview">
      <i class="menu-icon fa fa-table"></i>
      <span class="menu-text"> Overview </span>
    </a>
    <b class="arrow"></b>
  </li>

  <li ng-class="{'active': actives.records}">
    <a ui-sref="home.record">
      <i class="menu-icon fa fa-list-alt"></i>
      <span class="menu-text"> Record </span>
    </a>
    <b class="arrow"></b>
  </li>

  <li class="">
    <a ui-sref="home.layer.stat" class="dropdown-toggle">
      <i class="menu-icon fa fa-align-justify"></i>
      <span class="menu-text"> Layer </span>
      <b class="arrow fa fa-angle-down"></b>
    </a>

    <b class="arrow"></b>

    <ul class="submenu">

      <li ng-class="{'active': actives.layers.lineWithFocusChart}">
        <a ui-sref="home.layer.stat">
          <i class="menu-icon fa fa-caret-right"></i> Stat
        </a>
        <b class="arrow"></b>
      </li>

      <li ng-class="{'active': actives.speed}">
        <a ui-sref="home.layer.speed">
          <i class="menu-icon fa fa-tachometer"></i>
          <span class="menu-text"> SpeedFlow </span>
        </a>
        <b class="arrow"></b>
      </li>

      <li ng-class="{'active': actives.seq}">
        <a ui-sref="home.layer.seq">
          <i class="menu-icon fa fa-tachometer"></i>
          <span class="menu-text"> ChangeRatio </span>
        </a>
        <b class="arrow"></b>
      </li>

    </ul>
  </li>

  <li ng-class="{'active': actives.img}">
    <a ui-sref="home.img">
      <i class="menu-icon fa fa-file-image-o"></i>
      <span class="menu-text"> Img </span>
    </a>

    <b class="arrow"></b>
  </li>

  <li ng-class="{'active': actives.kernel}">
    <a ui-sref="home.kernel">
      <i class="menu-icon fa fa-cube"></i>
      <span class="menu-text"> Kernel </span>
    </a>

    <b class="arrow"></b>
  </li>
</ul>
<!-- /.nav-list -->

<div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse">
  <i id="sidebar-toggle-icon" class="ace-icon fa fa-angle-double-left ace-save-state" data-icon1="ace-icon fa fa-angle-double-left" data-icon2="ace-icon fa fa-angle-double-right"></i>
</div>