<section>
    <label>DB:&nbsp;</label>
    <button type="button" class="btn btn-default" ng-model="selectedDB" data-html="1" data-toggle="true" bs-options="db as db.name for db in dbList" bs-select>
    Action <span class="caret"></span>
  </button> &nbsp;

    <label>Layer:&nbsp;</label>
    <button type="button" class="btn btn-default" ng-model="selectedLayer" data-html="1" data-toggle="true" bs-options="layer.lid as layer.label for layer in layerList" bs-select>
    Action <span class="caret"></span>
  </button> &nbsp;

    <br>
    <br>

    <div class="form-group">
        <label><i class="fa fa-globe"></i>Iteration</label>
        <input type="text" class="form-control" style="width: 500px" placeholder="Enter your iteration" ng-model="selectedIter">
    </div>

    <button type="button" class="btn btn-success" ng-click="add()">add</button>
    <button type="button" class="btn btn-danger" ng-click="clean()">clean</button>

    <div style="margin: 50px 0 0 0"></div>

    <filter-matrix options="options" data="data"></filter-matrix>

</section>