<section>
  <label>DB:&nbsp;</label>
  <button type="button" class="btn btn-default" ng-model="selectedDB" data-html="1" data-toggle="true" bs-options="db as db.name for db in dbList" bs-select>
    Action <span class="caret"></span>
  </button> &nbsp;

  <label>Layer:&nbsp;</label>
  <button type="button" class="btn btn-default" ng-model="selectedLayer" data-html="1" data-toggle="true" bs-options="layer.lid as layer.label for layer in layerList" bs-select>
    Action <span class="caret"></span>
  </button> &nbsp;

  <br>
  <br>

  <label>Wid:&nbsp;</label>
  <button type="button" class="btn btn-default" ng-model="selectedWid" data-html="1" data-toggle="true" bs-options="wid as wid for wid in widList" bs-select>
    Action <span class="caret"></span>
  </button> &nbsp;

  <label>Attr:&nbsp;</label>
  <button type="button" class="btn btn-default" ng-model="selectedAttr" data-html="1" data-toggle="true" bs-options="attr as attr for attr in attrList" bs-select>
    Action <span class="caret"></span>
  </button> &nbsp;

  <button type="button" class="btn btn-success" ng-click="add()">heatmap</button>


  <div style="margin: 50px 0 0 0"></div>

  <heatmap></heatmap>
</section>