<section>
  <label>DB:&nbsp;</label>
  <button type="button" class="btn btn-default" ng-model="selectedDB" data-html="1" data-toggle="true"
    bs-options="db as db.name for db in dbList" bs-select>
    Action <span class="caret"></span>
  </button> &nbsp;

  <label>Type:&nbsp;</label>
  <button type="button" class="btn btn-default" ng-model="selectedType.value" data-html="1" data-toggle="true"
    bs-options="type as type for type in typeList" bs-select>
    Action <span class="caret"></span>
  </button> &nbsp;

  <label>Iter: &nbsp;</label>
  <div style="position: relative; display: inline-block">
    <input type="text" class="form-control" ng-model="range.start" style="width: 150px" placeholder="0 - 80,000">
    <input type="text" class="form-control" ng-model="range.end" style="width: 150px" placeholder="0 - 80,000">
  </div>

  <label>Layer?:&nbsp;</label>
  <button type="button" class="btn btn-default" ng-model="selectedLayer" data-html="1" data-multiple="1"
    data-toggle="true" bs-options="layer as layer.name for layer in layerList"
    max-length="1" bs-select>
    Action <span class="caret"></span>
  </button> &nbsp;

  <label>Ratios:&nbsp;</label>
  <button type="button" class="btn btn-default" ng-model="selectedRatio" data-html="1" data-multiple="1"
    bs-options="ratio as ratio.label for ratio in ratioList" bs-select>
    Action <span class="caret"></span>
  </button>

  <!--<pre>{{selectedRatio | ratioFormat}}</pre>-->

  <button type="button" class="btn btn-success" style="margin-left: 50px" ng-click="render()">render</button>

  <div style="margin: 50px 0 0 0"></div>

  <div seq options="options" data="data" style="position: relative"></div>
</section>