<div class="sidebar-shortcuts" id="sidebar-shortcuts">
  <div class="sidebar-shortcuts-large" id="sidebar-shortcuts-large">
    <!-- refresh according to current setting-->
    <button class="btn btn-success" ng-click="click('reset')">
      <i class="ace-icon fa fa-refresh"></i>
    </button>

    <!-- upload dataset-->
    <button class="btn btn-info" ng-click="click('triangle')">
      <i class="ace-icon icon-triangle-down"></i>
    </button>

    <!-- save current explore state-->
    <button class="btn btn-warning" ng-click="click('showTopKernel')">
      <i class="ace-icon fa fa-search"></i>
    </button>

    <!-- toggle line  -->
    <button class="btn btn-danger" ng-class="{ 'active': pin}" ng-click="click('pin')">
      <i class="ace-icon fa fa-eyedropper"></i>
      <!--<i class="ace-icon icon-thefreeforty_ruler"> </i>-->
      <!--<i class="ace-icon fa fa-pencil"></i>-->
    </button>
  </div>
</div>

<div class="space-6"></div>

<div style="width: 90%; margin: auto">
  Image Dataset:
  <select class="form-control" ng-model="selected.imgDataset">
  <option ng-repeat-start="d in imgDataset" value="{{d}}" ng-repeat-end>
    {{d}}
  </option>
</select> Model:
  <select class="form-control" ng-model="selected.model">
  <option ng-repeat-start="d in models" value="{{d.value}}" ng-repeat-end>
    {{d.label}}
  </option>
</select>
</div>


<!--<hr/>-->
<div class="space-6"></div>

<ul class="nav nav-list">
  <!--<li ng-class="{'active': actives.info}">
    <a ui-sref="home.info">
      <i class="menu-icon fa fa-info"></i>
      <span class="menu-text"> Info </span>
    </a>
    <b class="arrow"></b>
  </li>-->

  <li ng-class="{'active': actives.gallery}">
    <a ui-sref="home.gallery">
      <i class="menu-icon fa fa-picture-o"></i>
      <span class="menu-text"> Gallery </span>
    </a>
    <b class="arrow"></b>
  </li>

  <li ng-class="{'active': actives.visualization}">
    <a ui-sref="home.visualization" class="dropdown-toggle">
      <i class="menu-icon fa fa-line-chart"></i>
      <span class="menu-text"> Visualization </span>
      <b class="arrow fa fa-angle-down"></b>
    </a>

    <b class="arrow"></b>

    <div class="submenu">

      <div class="space-6"></div>

      <div style="margin-left: 5px">
        <div class="row">
          <div class="col-xs-6">
            <label class="control-label bolder blue">Time Slider</label>
          </div>
          <div class="col-xs-6">
            <label>
              <input ng-model="config.timebox.show" name="switch-field-1" class="ace ace-switch" type="checkbox" />
              <span class="lbl">&nbsp;</span>
            </label>
          </div>
        </div>
      </div>

      <div style="margin-left: 5px">
        <div class="row">
          <div class="col-xs-6">
            <label class="control-label bolder blue">Record Info</label>
          </div>
          <div class="col-xs-6">
            <label>
              <input ng-model="config.record.show" name="switch-field-1" class="ace ace-switch" type="checkbox" />
              <span class="lbl">&nbsp;</span>
            </label>
          </div>
        </div>
        <div ng-repeat-start="type in recordTypeList" class="checkbox" ng-repeat-end="">
          <label>
            <input ng-model="config.record[type.value]" name="form-field-checkbox" type="checkbox" class="ace" />
            <span class="lbl"> {{type.label}}</span>
          </label>
        </div>
      </div>
      <!-- end of record panel -->
      <!--<hr/>-->

      <div style="margin-left: 5px">
        <div class="row">
          <div class="col-xs-6">
            <label class="control-label bolder blue">Label Info
              <i id="label-data-loading" class="ace-icon fa fa-spinner fa-spin orange bigger-125 invisible"></i>
            </label>
          </div>
          <div class="col-xs-6">
            <label>
              <input ng-model="config.label.show" name="switch-field-1" class="ace ace-switch" type="checkbox" />
              <span class="lbl">&nbsp;</span>
            </label>
          </div>
        </div>
        <div class="space-4"></div>
        <!--<div class="ace-spinner middle" style="width: 100%">
          <div class="col-xs-4">
            <label style="margin-top: 10px">abnormal:</label>
          </div>
          <div class="col-xs-8">
            <div class="input-group">
              <input ng-model="config.label.abnormal" type="text" class="spinbox-input form-control text-center">
              <div class="spinbox-buttons input-group-btn btn-group-vertical">
                <button ng-click="spinnerChange(1, 'abnormal')" type="button" class="btn spinbox-up btn-sm btn-info">
                <i class="ace-icon fa fa-chevron-up"></i>
              </button>
                <button ng-click="spinnerChange(-1, 'abnormal')" type="button" class="btn spinbox-down btn-sm btn-info">
                <i class="ace-icon fa fa-chevron-down"></i>
              </button>
              </div>
            </div>
          </div>
        </div>-->

        <div class="space-4"></div>

        <div style="margin-left: 15px">
          <label>
             <input ng-model="config.label.immediate" name="form-field-checkbox" type="checkbox" class="ace" />
             <span class="lbl"> &nbsp; Immediate Change</span>
          </label>
        </div>

        <div class="ace-spinner middle" style="width: 100%">
          <div class="col-xs-4">
            <label>
              <input ng-model="config.label.triangle" name="form-field-checkbox" type="checkbox" class="ace" />
              <span class="lbl">threshold</span>
            </label>
          </div>
          <div class="col-xs-8">
            <div class="input-group">
              <input ng-model="config.label.threshold" type="text" class="spinbox-input form-control text-center">
              <div class="spinbox-buttons input-group-btn btn-group-vertical">
                <button ng-click="spinnerChange(1, 'threshold')" type="button" class="btn spinbox-up btn-sm btn-info">
                <i class="ace-icon fa fa-chevron-up"></i>
              </button>
                <button ng-click="spinnerChange(-1, 'threshold')" type="button" class="btn spinbox-down btn-sm btn-info">
                <i class="ace-icon fa fa-chevron-down"></i>
              </button>
              </div>
            </div>
          </div>
        </div>
        <div class="space-4"></div>
        <!--<div class="checkbox">
          <label>
            <input ng-model="config.label.mds" name="form-field-checkbox" type="checkbox" class="ace" />
            <span class="lbl"> mds layout </span>
          </label>
        </div>-->
        <!--<div class="space-4"></div>

        <div>
          <button class="btn btn-success" style="margin-left: 10px" ng-click="labelRender()">Go</button>
          <i id="label-data-loading" class="ace-icon fa fa-spinner fa-spin orange bigger-125 invisible"></i>
        </div>-->

      </div>
      <!-- end of label panel -->
      <!--<hr/>-->

      <div style="margin-left: 5px">
        <div class="row">
          <div class="col-xs-6">
            <label class="control-label bolder blue">Layer Info
              <i id="layer-data-loading" class="ace-icon fa fa-spinner fa-spin orange bigger-125 invisible"></i>
            </label>
          </div>
          <div class="col-xs-6">
            <label>
              <input ng-model="config.layer.show" name="switch-field-1" class="ace ace-switch" type="checkbox" />
              <span class="lbl">&nbsp;</span>
            </label>
          </div>
        </div>

        <div class="space-4"></div>

        <div class="control-group">
          Chart Type:
          <div ng-repeat-start="type in layerChartType" class="radio" ng-repeat-end>
            <label>
              <input ng-model="config.layer.chartType" name="form-field-radio0" type="radio" class="ace" value="{{type.value}}"/>
              <span class="lbl"> {{type.label}}</span>
            </label>
          </div>
        </div>

        <hr>

        <div ng-if="config.layer.chartType !== 'crChart'" style="margin-left: 15px">
          <!--<label>
             <input ng-model="config.layer.sameScale" name="form-field-checkbox5" type="checkbox" class="ace" />
             <span class="lbl"> &nbsp; Same Scale:</span>
          </label>-->
          <label>
            Same Scale:
            <input ng-model="config.layer.sameScale" name="switch-field-1" class="ace ace-switch ace-switch-2" type="checkbox" />
            <span class="lbl">&nbsp;</span>
          </label>
        </div>

        <div ng-if="config.layer.chartType === 'horizonGraph'" class="ace-spinner middle" style="width: 100%; margin-bottom: 5px;">
          <div class="col-xs-4">
            <label>
              <!--<input ng-model="config.label.triangle" name="form-field-checkbox" type="checkbox" class="ace" />-->
              <span class="lbl">Band</span>
            </label>
          </div>
          <div class="col-xs-8">
            <div class="input-group">
              <input ng-model="config.layer.band" type="text" class="spinbox-input form-control text-center">
              <div class="spinbox-buttons input-group-btn btn-group-vertical">
                <button ng-click="spinnerChange(1, 'band')" type="button" class="btn spinbox-up btn-sm btn-info">
                <i class="ace-icon fa fa-chevron-up"></i>
              </button>
                <button ng-click="spinnerChange(-1, 'band')" type="button" class="btn spinbox-down btn-sm btn-info">
                <i class="ace-icon fa fa-chevron-down"></i>
              </button>
              </div>
            </div>
          </div>
        </div>



        <div ng-if="config.layer.chartType === 'lineChart' || config.layer.chartType === 'horizonGraph'" class="row control-group">
          <div class="col-xs-6">
            <div style="margin-left: 10px">
              <label>
                <input ng-model="config.layer.gw" name="form-field-radio1" type="radio" class="ace" value="w"/>
                <span class="lbl"> weight </span>
              </label>
            </div>
          </div>
          <div class="col-xs-6">
            <div style="margin-left: -5px">
              <label>
                <input ng-model="config.layer.gw" name="form-field-radio1" type="radio" class="ace" value="g"/>
                <span class="lbl"> gradient </span>
              </label>
            </div>
          </div>
        </div>

        <div ng-if="config.layer.chartType === 'lineChart' || config.layer.chartType === 'horizonGraph'" class="row control-group">
          <div class="control-group" style="margin-left: 15px">
            <div ng-repeat-start="type in layerTypeList" class="radio" ng-repeat-end="">
              <label>
              <input ng-model="config.layer.type" name="form-field-radio2" type="radio" class="ace" value="{{type.value}}"/>
              <span class="lbl"> {{type.label}}</span>
            </label>
            </div>
          </div>
        </div>



      </div>

      <div ng-if="config.layer.chartType === 'crChart'" class="row">
        <div class="col-xs-10 col-xs-offset-1">
          Pick Your Ratios:&nbsp;
          <button type="button" class="btn btn-default" ng-model="config.layer.selectedRatio" data-html="1" data-multiple="1" bs-options="ratio.value as ratio.label for ratio in ratioList" bs-select>
            Pick Your Ratios <span class="caret"></span>
          </button>
          <!--<select class="form-control" ng-model="selectedRatio" multiple="true">
            <option ng-repeat-start="ratio in ratioList" value="{{ratio.value}}" ng-repeat-end>
              {{ratio.label}}
            </option>
          </select>-->
          <label></label>
        </div>
      </div>

      <div class="space-4"></div>

      <div class="control-group" style="margin-left: 5px">
        Kernel Scale:
        <div ng-repeat-start="type in layerKernelScale" class="radio" ng-repeat-end>
          <label>
            <input ng-model="config.layer.kernelScale" name="form-field-radio5" type="radio" class="ace" value="{{type.value}}"/>
            <span class="lbl"> {{type.label}}</span>
          </label>
        </div>
      </div>

    </div>

  </li>
</ul>

<div class="sidebar-toggle sidebar-collapse" hidden="True" id="sidebar-collapse">
  <i id="sidebar-toggle-icon" class="ace-icon fa fa-angle-double-left ace-save-state" data-icon1="ace-icon fa fa-angle-double-left" data-icon2="ace-icon fa fa-angle-double-right"></i>
</div>