<div class="sidebar-shortcuts" id="sidebar-shortcuts">
  <div class="sidebar-shortcuts-large" id="sidebar-shortcuts-large">
    <!-- refresh according to current setting-->
    <button class="btn btn-success" ng-click="click('reset')">
      <i class="ace-icon fa fa-refresh"></i>
    </button>

    <!-- upload dataset-->
    <button class="btn btn-info" ng-click="click('upload')">
      <i class="ace-icon fa fa-cloud-upload"></i>
    </button>

    <!-- save current explore state-->
    <button class="btn btn-warning" ng-click="click('save')">
      <i class="ace-icon fa fa-floppy-o"></i>
    </button>

    <!-- toggle line  -->
    <button class="btn btn-danger" ng-click="click('vlDiv')">
      <i class="ace-icon fa fa-pencil"></i>
    </button>
  </div>
</div>

<div class="space-6"></div>

<div style="width: 90%; margin: auto">
  Image Dataset:
  <select class="form-control" ng-model="selected.imgDataset">
  <option ng-repeat-start="d in imgDataset" value="{{d}}" ng-repeat-end>
    {{d}}
  </option>
</select> Model:
  <select class="form-control" ng-model="selected.model">
  <option ng-repeat-start="d in models" value="{{d.value}}" ng-repeat-end>
    {{d.label}}
  </option>
</select>
</div>


<!--<hr/>-->
<div class="space-6"></div>

<ul class="nav nav-list">
  <li ng-class="{'active': actives.info}">
    <a ui-sref="home.info">
      <i class="menu-icon fa fa-info"></i>
      <span class="menu-text"> Info </span>
    </a>
    <b class="arrow"></b>
  </li>

  <li ng-class="{'active': actives.gallery}">
    <a ui-sref="home.gallery">
      <i class="menu-icon fa fa-picture-o"></i>
      <span class="menu-text"> Gallery </span>
    </a>
    <b class="arrow"></b>
  </li>

  <li ng-class="{'active': actives.visualization}">
    <a ui-sref="home.visualization" class="dropdown-toggle">
      <i class="menu-icon fa fa-line-chart"></i>
      <span class="menu-text"> Visualization </span>
      <b class="arrow fa fa-angle-down"></b>
    </a>

    <b class="arrow"></b>

    <div class="submenu">

      <div class="space-6"></div>

      <!--<div style="margin-left: 5px">
        <label class="control-label bolder blue">Time Slider</label> (epoch)
        <div id="timerange" class="timerange"></div>
      </div>-->

      <div style="margin-left: 5px">
        <div class="row">
          <div class="col-xs-6">
            <label class="control-label bolder blue">Record Info</label>
          </div>
          <div class="col-xs-6">
            <label>
              <input ng-model="config.record.show" name="switch-field-1" class="ace ace-switch" type="checkbox" />
              <span class="lbl">&nbsp;</span>
            </label>
          </div>
        </div>
        <div ng-repeat-start="type in recordTypeList" class="checkbox" ng-repeat-end="">
          <label>
            <input ng-model="config.record[type.value]" name="form-field-checkbox" type="checkbox" class="ace" />
            <span class="lbl"> {{type.label}}</span>
          </label>
        </div>
      </div>
      <!-- end of record panel -->
      <hr/>

      <div style="margin-left: 5px">
        <div class="row">
          <div class="col-xs-6">
            <label class="control-label bolder blue">Label Info</label>
          </div>
          <div class="col-xs-6">
            <label>
              <input ng-model="config.label.show" name="switch-field-1" class="ace ace-switch" type="checkbox" />
              <span class="lbl">&nbsp;</span>
            </label>
          </div>
        </div>
        <div class="space-4"></div>
        <div class="ace-spinner middle" style="width: 100%">
          <div class="col-xs-4">
            <label style="margin-top: 10px">abnormal:</label>
          </div>
          <div class="col-xs-8">
            <div class="input-group">
              <input ng-model="config.label.abnormal" type="text" class="spinbox-input form-control text-center">
              <div class="spinbox-buttons input-group-btn btn-group-vertical">
                <button ng-click="spinnerChange(1, 'abnormal')" type="button" class="btn spinbox-up btn-sm btn-info">
                <i class="ace-icon fa fa-chevron-up"></i>
              </button>
                <button ng-click="spinnerChange(-1, 'abnormal')" type="button" class="btn spinbox-down btn-sm btn-info">
                <i class="ace-icon fa fa-chevron-down"></i>
              </button>
              </div>
            </div>
          </div>
        </div>

        <div class="space-4"></div>

        <div class="ace-spinner middle" style="width: 100%">
        <div class="col-xs-4">
            <label style="margin-top: 10px">threshold:</label>
          </div>
          <div class="col-xs-8">
            <div class="input-group">
              <input ng-model="config.label.threshold" type="text" class="spinbox-input form-control text-center">
              <div class="spinbox-buttons input-group-btn btn-group-vertical">
                <button ng-click="spinnerChange(1, 'threshold')" type="button" class="btn spinbox-up btn-sm btn-info">
                <i class="ace-icon fa fa-chevron-up"></i>
              </button>
                <button ng-click="spinnerChange(-1, 'threshold')" type="button" class="btn spinbox-down btn-sm btn-info">
                <i class="ace-icon fa fa-chevron-down"></i>
              </button>
              </div>
            </div>
          </div>
        </div>
        <div class="space-4"></div>
        <div class="checkbox">
          <label>
            <input ng-model="config.label.mds" name="form-field-checkbox" type="checkbox" class="ace" />
            <span class="lbl"> mds layout </span>
          </label>
        </div>
        <div class="space-4"></div>

        <div>
          <button class="btn btn-success" style="margin-left: 10px" ng-click="labelRender()">Go</button>
          <i id="label-data-loading" class="ace-icon fa fa-spinner fa-spin orange bigger-125 invisible"></i>
        </div>

      </div>
      <!-- end of label panel -->
      <hr/>

      <div style="margin-left: 5px">
        <div class="row">
          <div class="col-xs-6">
            <label class="control-label bolder blue">Layer Info</label>
          </div>
          <div class="col-xs-6">
            <label>
              <input ng-model="config.layerInfo.show" name="switch-field-1" class="ace ace-switch" type="checkbox" />
              <span class="lbl">&nbsp;</span>
            </label>
          </div>
        </div>

        <!--<div class="checkbox">
          <label>
            <input name="form-field-checkbox" type="checkbox" class="ace" />
            <span class="lbl"> choice</span>
          </label>
        </div>-->


        <div class="control-group">
          Types:
          <div class="radio">
            <label>
              <input ng-model="config.layerInfo.type" name="form-field-radio" type="radio" value="norm1" class="ace" />
              <span class="lbl"> norm1 </span>
            </label>
          </div>

          <div class="radio">
            <label>
              <input ng-model="config.layerInfo.type" name="form-field-radio" type="radio" value="norm2" class="ace" />
              <span class="lbl"> norm2 </span>
            </label>
          </div>

          <div class="radio">
            <label>
              <input ng-model="config.layerInfo.type" name="form-field-radio" type="radio" value="mean" class="ace" />
              <span class="lbl"> mean </span>
            </label>
          </div>

          <div class="radio">
            <label>
              <input ng-model="config.layerInfo.type" name="form-field-radio" type="radio" value="min" class="ace" />
              <span class="lbl"> min </span>
            </label>
          </div>

          <div class="radio">
            <label>
              <input ng-model="config.layerInfo.type" name="form-field-radio" type="radio" value="max" class="ace" />
              <span class="lbl"> max </span>
            </label>
          </div>

          <div class="radio">
            <label>
              <input ng-model="config.layerInfo.type" name="form-field-radio" type="radio" value="cr" class="ace" />
              <span class="lbl"> cr </span>
            </label>
          </div>

          <div class="radio">
            <label>
              <input ng-model="config.layerInfo.type" name="form-field-radio" type="radio" value="kernel" class="ace" />
              <span class="lbl"> kernel </span>
            </label>
          </div>

        </div>
        <label>
          Same Scale:
          <input ng-model="config.layerInfo.sameScale" name="switch-field-1" class="ace ace-switch ace-switch-2" type="checkbox" />
          <span class="lbl">&nbsp;</span>
        </label>

        <div class="space-6"></div>

      </div>

    </div>
    <!--<ul class="submenu">

      <li>
        as
      </li>

      <li>
        as
      </li>

      <li>
        as
      </li>
      <li>
        <a>
          <span>Label:</span>
        </a>
      </li>

      <li>
        <a>
          <span>Layer:</span>
        </a>
      </li>

    </ul>-->
  </li>

</ul>

<div class="sidebar-toggle sidebar-collapse" hidden="True" id="sidebar-collapse">
  <i id="sidebar-toggle-icon" class="ace-icon fa fa-angle-double-left ace-save-state" data-icon1="ace-icon fa fa-angle-double-left" data-icon2="ace-icon fa fa-angle-double-right"></i>
</div>

<!--<ul class="nav nav-list">

  <li ng-class="{'active': actives.overview}">
    <a ui-sref="home.overview">
      <i class="menu-icon fa fa-table"></i>
      <span class="menu-text"> Overview </span>
    </a>
    <b class="arrow"></b>
  </li>

  <li ng-class="{'active': actives.records}">
    <a ui-sref="home.record">
      <i class="menu-icon fa fa-list-alt"></i>
      <span class="menu-text"> Record </span>
    </a>
    <b class="arrow"></b>
  </li>

  <li class="">
    <a ui-sref="home.layer.stat" class="dropdown-toggle">
      <i class="menu-icon fa fa-align-justify"></i>
      <span class="menu-text"> Layer </span>
      <b class="arrow fa fa-angle-down"></b>
    </a>

    <b class="arrow"></b>

    <ul class="submenu">

      <li ng-class="{'active': actives.layers.lineWithFocusChart}">
        <a ui-sref="home.layer.stat">
          <i class="menu-icon fa fa-caret-right"></i> Stat
        </a>
        <b class="arrow"></b>
      </li>

      <li ng-class="{'active': actives.speed}">
        <a ui-sref="home.layer.speed">
          <i class="menu-icon fa fa-tachometer"></i>
          <span class="menu-text"> SpeedFlow </span>
        </a>
        <b class="arrow"></b>
      </li>

      <li ng-class="{'active': actives.seq}">
        <a ui-sref="home.layer.seq">
          <i class="menu-icon fa fa-tachometer"></i>
          <span class="menu-text"> ChangeRatio </span>
        </a>
        <b class="arrow"></b>
      </li>

    </ul>
  </li>

  <li ng-class="{'active': actives.img}">
    <a ui-sref="home.img">
      <i class="menu-icon fa fa-file-image-o"></i>
      <span class="menu-text"> Img </span>
    </a>

    <b class="arrow"></b>
  </li>

  <li ng-class="{'active': actives.kernel}">
    <a ui-sref="home.kernel">
      <i class="menu-icon fa fa-cube"></i>
      <span class="menu-text"> Kernel </span>
    </a>

    <b class="arrow"></b>
  </li>
</ul>-->