<div class="widget-box transparent" ng-controller="LabelController">
  <div id="labelinfo-header" class="widget-header widget-header-small invisible">
    <h6 class="widget-title lighter">Label info</h6>
    <div class="widget-toolbar">
      <a href="#" data-action="close">
        <i class="ace-icon fa fa-times"></i>
      </a>
    </div>
  </div>

  <div class="widget-body">
    <div class="space-2"></div>

    <div class="col-xs-1 col-sm-1">lb</div>

    <div class="col-xs-11 col-sm-11">
      <div id="widget-container-labelinfo-model" class="col-xs-12 col-sm-12 widget-container-col no-padding">
        <div class="widget-box transparent">
          <div class="widget-header widget-header-small invisible">
            <h6 class="widget-title lighter">model overview</h6>
            <div class="widget-toolbar">
              <a href="#" data-action="close">
                <i class="ace-icon fa fa-times"></i>
              </a>
            </div>
          </div>

          <div class="widget-body">
            <div heatline data="dataModel" options="optionsHeatLine"></div>
          </div>
        </div>
      </div>


      <div id="widget-container-labelinfo-cls" class="col-xs-12 col-sm-12 widget-container-col  no-padding">
        <div class="widget-box transparent">
          <div class="widget-header widget-header-small invisible">
            <h6 class="widget-title lighter">class overview</h6>
            <div class="widget-toolbar">
              <a href="#" data-action="close">
                <i class="ace-icon fa fa-times"></i>
              </a>
            </div>
          </div>

          <div class="widget-body">
            <div heatline data="dataCls" options="optionsHeatLine"></div>
          </div>
        </div>
      </div>


      <div id="widget-container-labelinfo-detail" class="col-xs-12 col-sm-12 widget-container-col  no-padding">
        <div class="widget-box transparent">
          <div class="widget-header widget-header-small invisible">
            <h6 class="widget-title lighter">detail view</h6>
            <div class="widget-toolbar">
              <a href="#" data-action="close">
                <i class="ace-icon fa fa-times"></i>
              </a>
            </div>
          </div>

          <div class="widget-body">
            <div pchartwithline data="dataDetail" options="optionsDetail"></div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>