<div class="widget-box transparent" ng-controller="LayerController">
  <div class="widget-header widget-header-small invisible">
    <h6 class="widget-title lighter">Layer Info</h6>
    <div class="widget-toolbar">
      <a href="#" data-action="close">
        <i class="ace-icon fa fa-times"></i>
      </a>
    </div>
  </div>

  <div class="widget-body">
    <div class="space-2"></div>

    <div class="row">
      <!--<div class="col-xs-11 col-sm-11 col-xs-offset-1 col-sm-offset-1">-->
      <div class="col-xs-12  col-sm-12">
        <!--<div class="vl-div" style="left: 0px"></div>-->
        <!--
        <div id="collapse-animation-container">click me to expand</div>
        <div id="collapse-animation-content" style="height: 0;">
          <div style="display: none">collapsed content, collapsed content, collapsed content, collapsed content, collapsed content</div>
          <div style="display: none">collapsed content2, collapsed content2, collapsed content2, collapsed content2, collapsed content2</div>
        </div>
        <div>end</div>-->
        <div ng-repeat-start="la in data[1]" id="{{la.name}}" class="tree level1" ng-class="{'layerbox': !la.opened}" ng-repeat-end>
          <span class="tree-branch-name" ng-click="open(la, 'level1')">
            <i class="icon-folder ace-icon" ng-class="{'invisible': !la.nodes, 'tree-minus': la.opened, 'tree-plus': !la.opened}"></i>
            <span class="tree-label">{{la.name}}</span>
          </span>
          <div ng-repeat-start="lan in la.nodes" id="{{lan.name}}" class="no-height no-disp level2" ng-repeat-end>
            <span class="tree-branch-name">
              <i class="icon-folder ace-icon" ng-class="{'invisible': !lan.nodes, 'tree-minus': lan.opened, 'tree-plus': !lan.opened}"></i>
              <span class="tree-label">{{lan.name}}</span>
            </span>
            <div ng-repeat-start="lann in lan.nodes" id="{{lann.name}}" class="no-height no-disp level3" ng-repeat-end>
              {{lann.name}}
            </div>
          </div>
        </div>

      </div>
    </div>

  </div>
</div>