<div class="widget-box transparent" ng-controller="RecordController">

  <div class="widget-header widget-header-small invisible">
    <h6 class="widget-title lighter">Record Info</h6>
    <div class="widget-toolbar">
      <a href="#" data-action="close">
        <i class="ace-icon fa fa-times"></i>
      </a>
    </div>
  </div>

  <div class="widget-body">
    <div class="space-2"></div>

    <div class="col-xs-1 col-sm-1">rec</div>
    <div class="col-xs-11 col-sm-11">
      <nvd3 options="options" data="dataLr"></nvd3>
      <nvd3 options="options" data="dataError"></nvd3>
      <nvd3 options="options" data="dataLoss"></nvd3>
    </div>
  </div>

</div>