<div class="widget-box transparent" ng-controller="CorrelationController">
  <!--<div class="widget-header widget-header-small invisible">
    <h6 class="widget-title lighter">Label Info</h6>
    <div class="widget-toolbar">
      <a href="#" data-action="close">
        <i class="ace-icon fa fa-times"></i>
      </a>
    </div>
  </div>-->

  <div class="widget-body">

    <div class="space-2"></div>

    <div class="row" style="margin-top: 50px">
      <div class="col-xs-12 col-sm-12">
        <div c-matrix data="dataMatrix" options="optionsMatrix"> </div>
      </div>
    </div>


  </div>
</div>