<div class="widget-box transparent" ng-controller="LabelController">
  <div class="widget-header widget-header-small invisible">
    <h6 class="widget-title lighter">Label Info</h6>
    <div class="widget-toolbar">
      <a href="#" data-action="close">
        <i class="ace-icon fa fa-times"></i>
      </a>
    </div>
  </div>

  <div class="widget-body">
    <div class="space-2"></div>

    <!--<div class="row scrollable" data-size="500">-->
    <div class="row">
      <div class="col-xs-12 col-sm-12">
        <div class="row">
          <div class="col-xs-1 col-sm-1"></div>
          <div class="col-xs-11 col-sm-11">
            <div ng-if="!open" class="row">
              <div class="col-xs-2 col-sm-2 clickable" ng-click="click('open')">Label Info</div>
              <div class="col-xs-10 col-sm-10">
                <div heatline data="dataModel" options="optionsHeatLine"></div>
              </div>
            </div>
            <div ng-if="open" class="row">
              <div class="col-xs-12 col-sm-12">
                <div ng-repeat-start="cls in selectedCls" class="row" ng-repeat-end>
                  <div class="col-xs-2 col-sm-2">
                    <div class="float-right">
                      <div>
                        <label class="clickable" ng-click="click('flip', cls.name)">{{cls.name}}</label>
                        <button class="btn btn-info btn-minier">
                         <i class="ace-icon fa fa-file-image-o" ng-click="showModal(cls.name, 'class')"></i>
                        </button>
                      </div>

                      <div ng-if="flip[cls.name]" class="float-right">
                        <button class="btn btn-success btn-minier">
                          <i class="ace-icon fa fa-search-plus" ng-click="click('zoomin', cls.name)"></i>
                        </button>
                        <br>
                        <button class="btn btn-success btn-minier">
                          <i class="ace-icon fa fa-search-minus" ng-click="click('zoomout', cls.name)"></i>
                        </button>
                      </div>
                    </div>
                  </div>
                  <div class="col-xs-10 col-sm-10">
                    <div ng-if="!flip[cls.name]" heatline data="dataCls[cls.name]" options="optionsCls[cls.name]"></div>
                    <div ng-if="flip[cls.name]" pchartwithline data="dataDetail[cls.name]" options="optionsDetail[cls.name]"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


  </div>
</div>