<div class="col-xs-12 col-sm-12">
  <div class="timebox-chart">

    <div style="position: absolute; left: -150px; top: 2px">
      <span style="margin-right: 5px">Time Axis</span>
      <button class="btn btn-success btn-minier float-right">
        <i class="ace-icon fa fa-trash-o" ng-click="reset()"></i>
      </button>
      <button class="btn btn-success btn-minier float-right">
        <i class="ace-icon fa fa-eye-slash" ng-click="clean()"></i>
      </button>
    </div>
    <svg id="timebox"></svg>

  </div>

</div>