<div class="row">
  <div id="main-widget-container" class="col-xs-12 col-sm-12 invisible">

    <div class="vl-div vl-div-global" ng-click="click()"></div>
    <div id="vl-div-container" style="z-index: 99; width: 100%; height: 100%"></div>
    <!--<div ng-show="vlDiv" class="vl-div vl-div-current" style="z-index: 100" ng-click="click()"></div>-->

    <div ng-show="config.timebox.show" class="row">
      <div id="widget-container-timebox" class="col-xs-12 col-sm-12 widget-container-col"
        ng-include="'src/client/visualization/views/timebox.client.view.html'">
      </div>
    </div>

    <div ng-show="config.record.show" class="row">
      <div id="widget-container-recordinfo" class="col-xs-12 col-sm-12 widget-container-col"
        ng-include="'src/client/visualization/views/record.client.view.html'">
      </div>
    </div>

    <div ng-show="config.label.show" class="row">
      <div id="widget-container-labelinfo" class="col-xs-12 col-sm-12 widget-container-col"
        ng-include="'src/client/visualization/views/label.client.view.html'">
      </div>
    </div>

    <div ng-show="config.layer.show" class="row">
      <div id="widget-container-layerinfo" class="col-xs-12 col-sm-12 widget-container-col"
        ng-include="'src/client/visualization/views/layer.client.view.html'">
      </div>
    </div>



  </div>
</div>