.header-title {
    position: relative;
    top: -3px;
}

// theme change
.nav-list>li>.submenu:before {
    display: none;
}

@sideWidth: 220px;

.sidebar {
    width: @sideWidth;
}

.sidebar+.main-content {
    margin-left: @sideWidth;
}

.timerange {
    margin-top: 10px;
}