.no-disp {
  display: none;
}

.no-padding {
  padding: 0 0 0 0
}

.collapse-animation {
  transition-property: height;
  transition-duration: 2s;
  transition-timing-function: ease;
}

.vl-div {
  height: 100%;
  position: absolute;
  left: 0;
  border-left: 1px dashed rgba(0, 0, 255, 0.6);
  z-index: 99;
}

.vl-div-pin {
  height: 100%;
  position: absolute;
  border-left: 1px dashed rgba(0, 0, 255, 0.6);
  z-index: 99;
}

.vl-div-pixelchart {
  opacity: 0.8;
  top: 9px;
}

.timebox {
  margin-top: 10px;
  width: 757px;
}

.time-input {
  width: 95% !important;
  margin: auto;
}

.time-axis {
  shape-rendering: crispEdges;
}

.time-axis line {
  stroke: #fff;
}

.layerbox {
  margin-top: -1px;
  position: relative;
  // height: 60px;
  padding: 12px 0 12px 0;
  border: 1px dotted;
  border-color: #DDD #FFF #FFF;
  border-color: rgba(0, 0, 0, .11) transparent transparent
}

.layerbox:hover {
    background-color: #F7F7F7;
    border-color: #D6E1EA;
    border-style: solid;
    z-index: 1
}

// .layerbox:first-child {
//     border-top-color: transparent
// }

.layerbox:last-child {
  border-bottom-color: #DDD
}

.layerbox:first-child:hover {
  border-top-color: #D6E1EA
}

// .level1 {
//   height: 100px;
// }

@level-offset: 10px;

.level2-off {
  margin-left: @level-offset;
}

.level3-off {
  margin-left: 2*@level-offset;
}

.tree:before {
  visibility: hidden;
}

.no-height {
  height: 0;
}

.level1, .level2, .level3 {
  .collapse-animation;
}


.overlay {
  fill: none;
  pointer-events: all;
}

.float-right {
  float: right;
}

.clickable {
  cursor: pointer;
}
