body {
  background: white;
}
.no-disp {
  display: none;
}
.no-padding {
  padding: 0 0 0 0;
}
.clickable {
  cursor: pointer;
}
#main-widget-container {
  height: 1200px;
}
.layer-graph {
  position: absolute;
  left: -20px;
  top: 0;
  width: 200px;
}
.layer-chart {
  position: absolute;
  left: 180px;
  top: 0;
}
.layer-minibar {
  position: absolute;
}
.layerbox {
  position: relative;
  padding: 0;
  width: 779px;
  border: 1px solid;
  border-color: #FFF #FFF #c3c3c3 #FFF;
}
.layerbox:hover {
  border: 2px solid;
  border-color: #f9a814;
}
.label-text {
  position: absolute;
  left: -20px;
  top: 0;
  width: 200px;
  text-align: center;
}
.label-chart {
  position: absolute;
  left: 180px;
  top: 0;
}
.timebox-chart {
  position: absolute;
  left: 180px;
  top: 0;
}
.record-chart {
  position: absolute;
  left: 180px;
  top: 0;
}
.correlation-chart {
  position: absolute;
  left: 0;
  top: 0;
}
.collapse-animation {
  -webkit-transition-property: height;
  transition-property: height;
  -webkit-transition-duration: 2s;
          transition-duration: 2s;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
}
.vl-div {
  height: 100%;
  position: absolute;
  left: 0;
  border-left: 1px dashed rgba(0, 0, 255, 0.3);
  z-index: 99;
}
.vl-div-pin {
  height: 100%;
  position: absolute;
  border-left: 1px dashed rgba(0, 0, 255, 0.3);
  z-index: 99;
}
.vl-div-pixelchart {
  opacity: 0.8;
  top: 9px;
}
.timebox {
  margin-top: 10px;
  width: 757px;
}
.time-input {
  width: 95% !important;
  margin: auto;
}
.time-axis {
  shape-rendering: crispEdges;
}
.time-axis line {
  stroke: #fff;
}
.level2-off {
  margin-left: 10px;
}
.level3-off {
  margin-left: 20px;
}
.tree:before {
  visibility: hidden;
}
.no-height {
  height: 0;
}
.level1,
.level2,
.level3 {
  -webkit-transition-property: height;
  transition-property: height;
  -webkit-transition-duration: 2s;
          transition-duration: 2s;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
}
.overlay {
  fill: none;
  pointer-events: all;
}
.float-right {
  float: right;
}
.nv-boxplot-whisker,
.nv-boxplot-tick {
  stroke-width: 2px;
  stroke-opacity: 0.5;
}
.nv-boxplot-median {
  stroke-opacity: 0.5;
}
.zoombtn {
  display: none;
}
.layer.data {
  fill: #37A058;
}
.layer.conv {
  fill: #CA5237;
}
.layer.conv-left {
  fill: #CA5237;
}
.layer.conv-right {
  fill: #CA5237;
}
.layer.fc {
  fill: #bd0026;
}
.layer.other {
  fill: #984ea3;
}
.bar {
  cursor: pointer;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
}
.bar-edge {
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
}
