.no-disp {
  display: none;
}
.no-padding {
  padding: 0 0 0 0;
}
.collapse-animation {
  -webkit-transition-property: height;
  transition-property: height;
  -webkit-transition-duration: 2s;
          transition-duration: 2s;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
}
.vl-div {
  height: 100%;
  position: absolute;
  left: 0px;
  border-left: 1px dashed rgba(0, 0, 255, 0.6);
  z-index: 100;
}
.timebox {
  width: 757px;
}
.layerbox {
  margin-top: -1px;
  position: relative;
  padding: 12px 0 12px 0;
  border: 1px dotted;
  border-color: #DDD #FFF #FFF;
  border-color: rgba(0, 0, 0, 0.11) transparent transparent;
}
.layerbox:hover {
  background-color: #F7F7F7;
  border-color: #D6E1EA;
  border-style: solid;
  z-index: 1;
}
.layerbox:last-child {
  border-bottom-color: #DDD;
}
.layerbox:first-child:hover {
  border-top-color: #D6E1EA;
}
.level2 {
  margin-left: 15px;
}
.level3 {
  margin-left: 15px;
}
.counter-level2 {
  margin-left: calc(-15px);
}
.counter-level3 {
  margin-left: calc(-30px);
}
.tree:before {
  visibility: hidden;
}
.no-height {
  height: 0px;
}
.level1,
.level2,
.level3 {
  -webkit-transition-property: height;
  transition-property: height;
  -webkit-transition-duration: 2s;
          transition-duration: 2s;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
}
